<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Include Bootstrap -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">

    <link href="/webjars/highlightjs/11.5.0/styles/default.min.css" rel="stylesheet">
    <script src="/webjars/highlightjs/11.5.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</head>
<body>
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th> Library</th>
        <th> Created Date</th>
        <th> Status</th>
        <th> ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:attr="commit-id=${commit.id}">
        <td><span th:text="${commit.library}"> Library </span></td>
        <td><span th:text="${#temporals.format(commit.createdDate, 'yyyy-MM-dd HH:mm:ss')}"> Created Date </span>
        </td>
        <td><span th:text="${commit.status}"> Status </span></td>
        <td><span th:text="${commit.id}"> ID </span></td>
    </tr>
    </tbody>
</table>

<pre><code class="language-xml">
    "<LanguageInjectionConfiguration><injection injector-id="java" language="XPath"><display-name>Node.selectNodes (org.dom4j)</display-name><place><![CDATA[psiParameter().ofMethod(0, psiMethod().withName("selectNodes").withParameters("java.lang.String").definedInClass("org.dom4j.Node"))]]></place></injection></LanguageInjectionConfiguration>"
</code></pre>

<div class="container">
    <form method="post" style=" float: left;" th:action="'/moderation/commit/' + ${commit.id} + '/accept'">
        <button class="btn btn-primary" style="background-color:green" type="submit">Accept</button>
    </form>

    <form method="post" style="float:right" th:action="'/moderation/commit/' + ${commit.id} + '/reject'">
        <button class="btn btn-primary" style="background-color:red" type="submit">Reject</button>
    </form>
</div>


</body>
</html>